apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: worker
  name: worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
      - image: deadvexon/worker-find-your-bias:7403d0902a28e75ba22eae6c082625b68e631539
        imagePullPolicy: Always
        name: worker
